/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/10/2016, 03:34:10 PM
    Author     : Jaiver Maya
*/

body.login-page {
    background-color: #5391CD;
}

.login-box {    
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #d2d6de;
    border-radius: 7px;
    margin: 5% auto;
    height: 80%;
}

.login-logo {
    margin: 30px 0px 50px 0px;
    width: 100%;
}

.form-control:focus {
    border-color: #5391CD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.footer-login{
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: center !important;
}

.fa-twitter{
    padding-right: 30px; padding-left: 30px;
}

.fa-facebook{
    padding-right: 30px; padding-left: 30px;
}

.fa-google-plus{
    padding-right: 30px; padding-left: 30px;
}

.btn-primary1{background-color:#00A65A;border-color:#00934E;color:#fff;}
.btn-primary1:hover,.btn-primary1:active,.btn-primary1.hover{background-color:#00934E;border-color:#017C41;color:#fff;}
.btn-primary1.active.focus, .btn-primary1.active:focus, .btn-primary1.active:hover, .btn-primary1.focus:active, .btn-primary1:active:focus, .btn-primary1:active:hover, .open > .dropdown-toggle.btn-primary1.focus, .open > .dropdown-toggle.btn-primary1:focus, .open > .dropdown-toggle.btn-primary1:hover {background-color:#017C41;border-color:#017C41;color:#fff;}

.detalle-factura {
    padding-left: 3px;
    padding-right: 0px;
    margin-bottom: 3px;
}

.encabezado-factura {
    margin-bottom: 5px;
}

.label-left {
    float: left;
}

@media (min-width: 769px) {
    .label-right {
        float: right;
    }
}

.numeric {
    text-align: right;
}

.tooltip-inner {
    padding: 6px 6px;
    width: 120px;
}

.tooltip-primary + .tooltip .tooltip-inner {
    color: #fff;
    background-color: #62a8ea;
}

.tooltip-primary + .tooltip.top .tooltip-arrow {
    border-top-color: #62a8ea;
}

.tooltip-primary + .tooltip.right .tooltip-arrow {
    border-right-color: #62a8ea;
}

.tooltip-primary + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #62a8ea;
}

.tooltip-primary + .tooltip.left .tooltip-arrow {
    border-left-color: #62a8ea;
}

.tooltip-success + .tooltip .tooltip-inner {
    color: #fff;
    background-color: #46be8a;
}

.tooltip-success + .tooltip.top .tooltip-arrow {
    border-top-color: #46be8a;
}

.tooltip-success + .tooltip.right .tooltip-arrow {
    border-right-color: #46be8a;
}

.tooltip-success + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #46be8a;
}

.tooltip-success + .tooltip.left .tooltip-arrow {
    border-left-color: #46be8a;
}

.tooltip-info + .tooltip .tooltip-inner {
    color: #fff;
    background-color: #57c7d4;
}

.tooltip-info + .tooltip.top .tooltip-arrow {
    border-top-color: #57c7d4;
}

.tooltip-info + .tooltip.right .tooltip-arrow {
    border-right-color: #57c7d4;
}

.tooltip-info + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #57c7d4;
}

.tooltip-info + .tooltip.left .tooltip-arrow {
    border-left-color: #57c7d4;
}

.tooltip-warning + .tooltip .tooltip-inner {
    color: #fff;
    background-color: #f2a654;
}

.tooltip-warning + .tooltip.top .tooltip-arrow {
    border-top-color: #f2a654;
}

.tooltip-warning + .tooltip.right .tooltip-arrow {
    border-right-color: #f2a654;
}

.tooltip-warning + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f2a654;
}

.tooltip-warning + .tooltip.left .tooltip-arrow {
    border-left-color: #f2a654;
}

.tooltip-danger + .tooltip .tooltip-inner {
    color: #fff;
    background-color: #f96868;
}

.tooltip-danger + .tooltip.top .tooltip-arrow {
    border-top-color: #f96868;
}

.tooltip-danger + .tooltip.right .tooltip-arrow {
    border-right-color: #f96868;
}

.tooltip-danger + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f96868;
}

.tooltip-danger + .tooltip.left .tooltip-arrow {
    border-left-color: #f96868;
}

.tooltip-rotate + .tooltip {
    opacity: 0;
    -webkit-animation: tooltip-rotate3d 1s ease .1s forwards;
    -o-animation: tooltip-rotate3d 1s ease .1s forwards;
    animation: tooltip-rotate3d 1s ease .1s forwards;
}

.tooltip-scale + .tooltip {
  -webkit-animation: tooltip-scale3d 1s ease 0s forwards;
       -o-animation: tooltip-scale3d 1s ease 0s forwards;
          animation: tooltip-scale3d 1s ease 0s forwards;
}
.webui-popover-primary .webui-popover-title {
   color: #fff;
   background-color: #62a8ea;
   border-color: #62a8ea;
}
.webui-popover-primary.bottom .webui-arrow {
   border-bottom-color: #62a8ea;
}
.webui-popover-primary.bottom .webui-arrow:after {
   border-bottom-color: #62a8ea;
}
.webui-popover-success .webui-popover-title {
   color: #fff;
   background-color: #46be8a;
   border-color: #46be8a;
}
.webui-popover-success.bottom .webui-arrow {
   border-bottom-color: #46be8a;
}
.webui-popover-success.bottom .webui-arrow:after {
   border-bottom-color: #46be8a;
}
.webui-popover-info .webui-popover-title {
   color: #fff;
   background-color: #57c7d4;
   border-color: #57c7d4;
}
.webui-popover-info.bottom .webui-arrow {
   border-bottom-color: #57c7d4;
}
.webui-popover-info.bottom .webui-arrow:after {
   border-bottom-color: #57c7d4;
}
.webui-popover-warning .webui-popover-title {
   color: #fff;
   background-color: #f2a654;
   border-color: #f2a654;
}
.webui-popover-warning.bottom .webui-arrow {
   border-bottom-color: #f2a654;
}
.webui-popover-warning.bottom .webui-arrow:after {
   border-bottom-color: #f2a654;
}
.webui-popover-danger .webui-popover-title {
   color: #fff;
   background-color: #f96868;
   border-color: #f96868;
}
.webui-popover-danger.bottom .webui-arrow {
   border-bottom-color: #f96868;
}
.webui-popover-danger.bottom .webui-arrow:after {
   border-bottom-color: #f96868;
}
/* Popover SANY */
.webui-popover-sany .webui-popover-title {
   color: #fff;
   background-color: #3C8DBC;
   border-color: #3C8DBC;
   font-size: 12px;
}
.webui-popover-sany .webui-popover-content {
   font-size: 12px;
}
.webui-popover-sany.bottom .webui-arrow {
   border-bottom-color: #3C8DBC;
}
.webui-popover-sany.bottom .webui-arrow:after {
   border-bottom-color: #3C8DBC;
}

.header-modal-agenda{
    background-color: #3C8DBC;
    color: #FFFFFF;
}

.header-modal-sany{
    background-color: #3C8DBC;
    color: #FFFFFF;
}

/*Altura para que en los view no se desacomoden los labels cuando no hay valor*/
.view-sany{
    height: 30px;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #F5F5F5;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #3C8DBC;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.fc-scroller.fc-time-grid-container {
    height: auto !important;
}

.sidebar-menu > li > a {
    padding: 7px 5px 7px 15px;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 25px;
}

.table-medidas > tbody > tr > td, 
.table-medidas > tbody > tr > th, 
.table-medidas > tfoot > tr > td, 
.table-medidas > tfoot > tr > th, 
.table-medidas > thead > tr > td, 
.table-medidas > thead > tr > th {
    padding: 2px;
    text-align: center;
}

.table-tratamientos > tbody > tr > td:last-of-type,
.table-tratamientos > tbody > tr > td:nth-last-of-type(2),
.table-tratamientos > tbody > tr > td:nth-last-of-type(3),
.table-tratamientos > tbody > tr > td:nth-last-of-type(4),
.table-tratamientos > tbody > tr > td:nth-last-of-type(5),
.table-tratamientos > tbody > tr > td:nth-last-of-type(6) {
    text-align: center;
}


/**********************CLASES ODONTOGRAMA**********************/
.dv-tratamientos {
    display: inline-block;
    margin-top: 15px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
    width: 12%;
    word-wrap: break-word;
}

@media screen and (max-width: 500px) {
    .dv-tratamientos {
        display: inline-block;
        margin-top: 15px;
        padding-left: 2px;
        padding-right: 2px;
        vertical-align: middle;
        width: 25%;
        word-wrap: break-word;
    }
}

.tratamiento {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.numero-diente {
    font-size: 16pt;
    font-weight: normal;
}

.cuadro-odontograma {
    cursor: pointer;
    fill-opacity: 0;
    stroke: navy;
    stroke-width: 0.5px;
}

.endodoncia {
    fill: none;
    fill-opacity: 0;
}

.endodoncia-marcado {
    fill: #ffbb00;
    stroke: #ffbb00;
    stroke-width: 4px;
}
.sano-marcado {
    fill: black;
    fill-opacity: unset;
}

.sano{
    fill: none;
    fill-opacity: 0;
}

.implante {
    fill: none;
    fill-opacity: unset;
}

.implante-marcado {
    fill: #ff00bb;
    stroke: #ff00bb;
    stroke-width: 4px;
}

.corona {
    fill: none;
    fill-opacity: unset;
}

.corona-marcado {
    fill: none;
    stroke: #0000ff;
    stroke-width: 4px;
}

.corona-mal-estado {
    fill: none;
    fill-opacity: unset;
}

.corona-mal-estado-marcado {
    fill: none;
    stroke: #ff0000;
    stroke-width: 4px;
}

.ausente {
    fill: none;
    fill-opacity: 0;
}

.ausente-marcado {
    fill: #0000ff;
    fill-opacity: unset;
}

.extraccion {
    fill: none;
    fill-opacity: 0;
}

.extraccion-marcado {
    fill: #ff0000;
    fill-opacity: unset;
}

/*.exodoncia-realizada {
    //fill: blue;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.exodoncia-simple-indicada {
    //fill: blue;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.exodoncia-quirurgica-indicada {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.sin-erupcionar {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.endodoncia-realizada {
    //fill: blue;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.endodoncia-indicada {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.sellante-presente {
    //fill: blue;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.sellante-indicado {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.erosion-abrasion {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.procedimiento-realizado {
    //fill: green;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.corona-mal-estado {
    //stroke: red;
    //stroke-width: 6px;
    fill: none;
    fill-opacity: unset;
}

.provisional-buen-estado {
    //fill: blue;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.provisional-mal-estado {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: 0;
}

.nucleo-buen-estado {
    //fill: blue;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: unset;
}

.nucleo-mal-estado {
    //fill: red;
    //fill-opacity: unset;
    fill: none;
    fill-opacity: unset;
}
*/
/********************FIN CLASES ODONTOGRAMA********************/



/********************CLASES REGISTRO PLACA*********************/
.dv-tratamientos-placa {
    padding-left: 2px;
    padding-right: 2px;
}

.tratamiento-placa {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.cuadro-registro-placa {
    cursor: pointer;
    fill-opacity: 0;
    stroke: navy;
    stroke-width: 1px;
}
/******************FIN CLASES REGISTRO PLACA*******************/



/**********ESTILOS PARA LOS BOTONES CIRCULARES**********/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/*paso la letra a roboto*/
label{
    font-family: 'Roboto',sans-serif ;
    font-style: normal;
    size: 14px;
}
span{
    font-family: 'Roboto',sans-serif ;
}
*{
    font-family: 'Roboto',sans-serif ;
}

label{
    font-family: 'Roboto',sans-serif ;
    font-style: normal;
    size: 14px;
}
span{
    font-family: 'Roboto',sans-serif ;
}
*{
    font-family: 'Roboto',sans-serif ;
}

/*select 2*/
.select2-dropdown--above {
    border-color: #d2d6de !important;;

}


.select2-dropdown--below{
    border-color: #d2d6de !important;;

}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: #d2d6de !important;;

}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    /* border: 1px solid #aaa; */
    border-radius: 4px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px;
}
.select2-selection {
    height: 34px !important;
}
.select2-selection--single {
    height: 34px !important;
}
.form-bancos-row{
    margin-bottom: 15px;
}
/**********FIN ESTILOS PARA LOS BOTONES CIRCULARES**********/

/******ESTILO PARA MODAL CARGANDO*****/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00A65A;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 2s linear infinite;
}

.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border-radius: 8px;
}

.panel {
    margin-top: 27px !important;
}
.panel-body {
    padding-top: 30px !important;
}

#chat_window{
    bottom: 1px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: fixed;
    right: 1px;
}

#box_messages_sany{
    max-height: 400px;
}

#container_button_chat{
    bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: fixed;
    right: 20px;
}


/*estilos de select2js para los diagnosticos de las historias clinicas*/
td .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 30px;
}
td .select2-selection {
    height: 30px !important;
}
td .select2-selection--single {
    height: 30px !important;
}
.form-bancos-row{
    margin-bottom: 15px;
}

.swal2-container {
    zoom : 1.5 ;
}

.swal2-icon.swal2-info {
    border-color: #3C8DBC;
    color: #3C8DBC;
}

.modal-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.alert-persistent{
    background: #52BFFF;
    z-index: 1000;
    position: relative;
    color: #214D66;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 0!important;
}

.no-border{
    border-top: 0px;
}

.label-subtitulo{
    color: #3C8DBC;
    font-size: 20px;
    font-weight: 400;
}

.pointer{
    cursor: pointer;
}

#info-tributaria{
    display: none;
}
.form-inline{
    display: block;
}
#listUsuarios_filter{
    margin-right: 15px;
}
.pagination>li>a, .pagination>li>span {
    position: relative!important;
    float: left!important;
    padding: 6px 12px!important;
    margin-left: -1px!important;
    line-height: 1.42857143!important;
    color: #666!important;
    text-decoration: none!important;
    background-color: #fff!important;
    border: 1px solid #ddd!important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3!important;
    color: #fff!important;
    cursor: default!important;
    background-color: #17A2B8!important;
    border-color: #17A2B8!important;
}
body{
    font-size: 90%!important;
}


